<% provide(:title, "Help") %>
<h1>About</h1>
<p>
  The Amateur Analysts application allows users to post and update their own watchlists and be able to view
  other user's watchlists and buyprices.
</p>
