<!DOCTYPE html>
<html>
  <head>
    <title>Home | Amateur Analysts App</title>
  </head>
  <body>
    <h1>Amateur Analysts</h1>
    <p>This is the home page for the Amateur Analysts application</p>
  </body>
</html>